.HomePage {
  .Title {
    color: #b2395b;
    text-align: left;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.SearchPage {
  .Title {
    color: black;
    text-align: left;
    font-weight: 600;
    margin-bottom: 20px;
    .keyword {
      color: #b2395b;
    }
  }
}

.DetailPage {
  .bookInfo {
    margin-bottom: 50px;
    .price {
      color: #f7941e;
      margin-top: 40px;
      margin-bottom: 40px;
    }
    .btnGroup {
      margin-bottom: 20px;
      .quantityBtn {
        box-shadow: none;
        .quantity {
          margin-left: 7px;
          margin-right: 7px;
        }
      }
    }
    .addCartBtn {
      color: whitesmoke;
      background-color: #b2395b;
      border: none;
      box-shadow: none;
      display: block;
      font-weight: 400;
      text-align: center;
      font-size: 1.3rem;
      border-radius: 0.25rem;
      padding: 0.5rem 1rem;
      &:active:focus {
        color: whitesmoke;
        background-color: #7c273f;
        border: none;
        box-shadow: none;
      }
      &:focus {
        color: whitesmoke;
        background-color: #b2395b;
        border: none;
        box-shadow: none;
      }
    }
  }

  .Tabs {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    .nav-link.active {
      color: #b2395b;
    }
    .tab > a {
      color: #212529;
    }
    .tab > a:hover {
      color: #b2395b;
    }
  }
}

.CartPage {
  .Title {
    color: #b2395b;
    text-align: left;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.AboutPage {
  text-align: left;
  .title {
    color: #b2395b;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .text {
    font-size: 18px;
    .bold {
      font-weight: bold;
    }
  }
}
