.footer {
  background-color: #333;
  bottom: 0px;
  position: absolute;
  width: 100%;
  .heading {
    color: #b2395b;
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5em;
  }
  .col {
    justify-content: space-around;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    .icon {
      color: #b2395b;
      font-size: 2em;
      cursor: pointer;
    }
  }
  .last {
    @media only screen and (min-width: 425px) {
      display: flex;
      justify-content: space-between;
    }
    color: #b2395b;
    font-weight: 400;
    padding-bottom: 5px;
  }
}
